/*GENERAL*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #3E4246;
	hyphens: auto;
}

.content{
	margin-top: 65px;
	width: 100%;
}
h2{
	color: #161719;
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
	padding-bottom: 30px;
}
h3{
	color: #161719;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	text-align: center;
	margin-top: 10px;
}
a{
	color: #3E4246 !important;
	text-decoration: none !important;
}

.summaryList, .liArticle, .liFooter{
	list-style: none;
}

.list-unstyled{
	color: #D9534F;
	text-align: center;
	background-color: #F2DEDE;
	padding: 10px;
	border-radius: 5px;
}
.standardSection, .sectionLeaderboard{
	max-width: 840px;
	margin: 0 auto;
}
hr{
	width: 100%;
	margin:30px auto 20px auto;
}

.sectionVignette{
	margin:10px auto 20px auto;
}

.withoutMargin{
	margin-top:0 !important;
}

.withoutPadding{
	padding: 0 !important;
}

.btn-success{
	background-color: #53c378;
	color: #fff !important;
	border: 0;
}

.btn-primary{
	background-color: #3BAEF8 !important;
	color: #fff !important;
	border: 0;
}

.btn-warning{
	background-color: #FFCC00 !important;
	color: #3E4246 !important;
	border: 0;
}

.btn-default{
	background-color: #F5F5F5 !important;
	border: 0;
}

.blank{
	background-color: #FFF !important;
}

.btn-danger{
	color: #fff !important;
	border: 0;
}

.btn-primary:hover{
	background-color: #1E90FF !important;

}

.btn-warning:hover{
	background-color: #FFD700 !important;
}

.btn-default:hover, .buttonProfileModifierBodyLeft:hover{
	background-color: #3E4246 !important;
	color: #fff !important;
}

.listCommits{
	margin-top: 20px;
}

.labelVideo{
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	padding-bottom: 10px;
}

.modal-body h2{
	padding-bottom: 0;
}

.modal-body p{
	font-size: 16px;
	line-height: 22px;
}

.modal-body [type="radio"]:not(:checked), .modal-body [type="radio"]:checked{
	display:none;
}

.modal-body label{
	border: 1px solid #EDEBEB;
	border-radius: 8px;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	padding-left: 0;

}

.titreArticle1, .titreArticle2{
	color: #3E4246;
	font-size: 13px;
	line-height: 18px;
}

.titreArticle1{
	padding-left: 20px;
}

.titreArticle2{
	padding-left: 40px;
}

.testIconePadding{
	display: inline-block;
}
/*HEADER*/
header nav{
	height: 65px;
	background-color: #fff !important;
	font-size: 14px;
	font-weight: 600;
}

header nav ul{
	background-color: #fff;
	margin-top: 5px !important;
}
header nav ul li p{
	margin-top: 15px;
	margin-left: 15px;
}
.imgLink{
	width: 21px;
}


.wikitechLogo{
	width: 100% !important;
}
/*FOOTER*/
footer{
	height: auto;
	width: 100%;
	margin-top: 40px;
	padding-top: 30px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #F6F9FA;
	color: #8C8C8C;
	font-size: 14px;
}

footer a{
	color: #8C8C8C !important;
}

footer h2{
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	color: #8C8C8C;
	padding: 0;
}

footer li{
	padding-left: 0;
}
.ulFooter{
	padding: 0;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: no-wrap;
}

.ulFooter1, .ulFooter3, .ulFooter2{
	padding-left:0;
	width: 100%;
}
/*HOMEPAGE*/
	/*BLOC INTRO*/
.blocIntro{
	width: 380px;
	margin: 40px auto 40px auto;
}

.blocIntro a{
	margin-top: 50px;
	width: 250px;
	height: 40px;
	line-height: 28px;
	border-radius: 8px;
	border: 0;
	background-color: #3BAEF8 !important;
	color: #fff !important;
}

	/*Vignettes formations*/

.thumbnailHome{
	background-color: #F6F9FA !important;
	width: 224px;
	height: 360px;
	border-radius: 8px;
	color: #161719;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	margin: 0 auto 20px auto;	
}

.miniatureHome{
	border-radius: 8px 8px 0 0;
	width: 224px;
	max-height: 150px; 
}

.thumbnailHome .caption{
	margin-top: 12px;
}


.thumbnailHome a{
	text-decoration: none;
	color: #161719;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	border: 0px;
	margin: 0 14px;
	width: 180px;
}

.textCaption{
	height: 100px;
	margin: 20px 14px 5px 14px;
	padding: 0px 14px;
}
	/*buttonHome*/
.buttonHome{
	background-color: #F6F9FA;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	border: 0px;
}

.buttonHomeCreateUser{
	color: #F5A623 !important;
}

.colButtonHome{
	position: relative;
}
.buttonHomeTop, .buttonProfileModifierBodyRightInfo, .buttonProfileModifierBodyRightLink{
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	color: #FFCC00 !important;
}
.buttonHomeContact{
	color: #4935A9 !important;
	margin-top: 10px;
}

.buttonHomeSoutenir{
	color: #F63069 !important;
	margin-top: 30px;
}

	/*SOUTENIR PROJET*/
.paragrapheHeart{
	margin-top: 20px;
}

.imgHeart{
	text-align:right;
}

	/*TOP*/
.imgTop{
	width: 55px;
	height: 55px;
	margin-right: 15px;
}
/*PAGE STATIC*/
.blocIntroProject{
	margin: 40px auto;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgIntroStatic{
	min-width: 150px;
}

.sectionLeaderboard{
	padding-top: 30px;
}

.hrLeaderboard{
	margin-bottom: 55px;
}

/*SUMMARY*/
.summary{
	border-radius: 8px;
	background-color: #F6F9FA;
	min-height: 200px;
	font-size: 13px;
	line-height: 18px;
	padding: 0;
}

.summary ul:first-child{
	padding: 30px;
}

.summary hr{
	margin: 13px 0;
}

.imgSummary{
	width: 15px;
}

.titleSummary{
	font-weight: 600 !important;
}
.liArticle{
	margin: 10px !important;
}

/*TRAINING*/
.titleTraining{
	color: #161719;
	font-size: 30px;
	font-weight: bold;
	line-height: 38px;
}

.paragrapheAfterTitle{
	margin-top: 15px;
	margin-bottom: 25px;
}

.linkProfile:hover{
	color: #FFCC00 !important;
}

.bottomButton, .bottomButtonWhite{
	margin-top: 15px;
}
.bottomButtonWhite{
	margin-bottom: 20px;
}
/*ARTICLE*/
.articleSection{
	max-width: 600px;
	margin: 0 auto;
}
.flexbody, .flexbodyWhite{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -20px;
	margin-left: -20px;
}
.flexbodyWhite{
	background-color: #F6F9FA;
}
.bodyLeft, .bodyLeftWhite{
	background-color: #F6F9FA;
	margin-bottom: -40px;
	position: relative;
	width: 320px;
}
.bodyLeftWhite{
	background-color: #fff;
}
.bodyRight, .bodyRightWhite{
	margin: 20px auto;
	max-width: 600px !important;
}
.bodyRightWhite{
    opacity: 0.3;
}
.linkSummary{
	text-align: center;
	font-size: 13px;
	font-weight: 600;
	line-height: 15px;
	margin-top: 20px;
}
.linkSummary hr{
	margin: 20px auto 0 auto;
	width: 260px;	
}

.linkSummary a{
	color: #9DA3A7 !important;
}

.addArticle{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #EDEBEB;
	border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #EDEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3E4246 !important;
	font-size: 12px;
	font-weight: 600;
	line-height: 17px;
}

.addArticle img{
	margin-right: 7px;
}
#en_Detail img, #en_Bref img{
	max-width: 100%;
}
.buttonLinkArticle{
	border-radius: 8px;
	background-color: #F6F9FA;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 30px;
	min-height: 40px;
	width: 100%;

}
.linkValidateArticle{
	color: #3BAEF8 !important;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
}

.noVideo{
	margin: 0;
	line-height: 30px;
}

.buttonLinkArticle img{
	margin-right: 7px;
}

.summaryInArticle {
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
}

.buttonArticleModifyBref{
	color: #F3356B !important;
}

.buttonArticleModifyDetail{
	color: #53c378 !important;
}

.buttonArticleModifyVideo{
	color: #42AFF5 !important;
}

/*ARTICLE MODIFIED*/

.contentArticle p:children img{
	text-align: center;
}

.listArticlesModified{
	margin: 40px 30px;
}

.zoneNoVideo{
	margin-top: 0 !important;
}
	/*Add Part*/
.addPart{
	width: 280px;
	margin: 20px auto;
}

.addArticleFields{
	width: 100%;
}

.addPart, .addPart .panel-heading{
	border-color: #F5F5F5 !important;
	box-shadow: none;
}

.addPart .badge{
	background-color: #3BAEF8!important;
	height: 30px;
	width: 30px;
	border-radius: 30px;
	margin-right: 10px;
}

.addPart h2, .addPart .badge{
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.addPart .panel-body{
	font-size: 14px;
	line-height: 19px;
}
.addPart  .panel-title{
	padding: 0;
	margin: 20px auto;
}


.buttonAddPart, .buttonProfileModifierBodyLeft{
	display: block;
	height: 40px;
	width: 280px;
	border-radius: 8px;
	background-color: #F5F5F5;
	margin: 0 auto 20px auto;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.buttonAddPart:hover{
	background-color: #EEE;
}

.formGroupPart{
	width: 280px;
	margin: 10px auto;
}

.formGroupPart [type="text"], .formGroupPart select{
	background-color: #F5F5F5;
	border-radius: 8px;
	box-shadow: none;
	border: none;
	color: #999 !important;
}

.formPart{
	margin-bottom: 20px;
}

.insertPart{
	height: 40px;
	width: 280px;
	margin: 0 20px;
}
.editSummary{
	width: 280px !important;
	margin: 0 auto;

}
.editSummary h2{
	font-size: 14px;
	font-weight: 600;
	margin: 10px auto;
	padding: 0;
}

.editSummary label{
	font-size: 14px;
}
/*PROFILE*/
.blocProfile{
	padding: 5px;
}
.blocIntroProfile{
	width: 380px;
	height: 100px;
	margin: 20px auto;
}

.passwordForget{
	margin-top: 10px !important;
}
	/*SHOW*/
.imgProfile{
	width: 140px;
	margin-bottom: 20px;
}

.bodyLeftProfile h3{
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.buttonProfileModifierBodyLeft{
	margin-top: 23px;
	background-color: #fff;
}

.buttonProfileModifierBodyRightInfo{
	color: #3BAEF8!important;
}

.buttonProfileModifierBodyRightLink{
	color: #53c378!important;
}

.imgLinkProfile{
	width: 16px;
	margin-right: 8px;
}

.logoLink{
	margin-right: 10px;
	font-size: 18px;
}

#linkForm{
	display: none;
	margin-top: 20px;
}
.butonResetField{
	background-color: #D9534F;
}

.bodyRightEditProfile{
	margin-top: 10px !important;
}

.titleFormGoogle, .alertProfileModifier{
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	margin-top: 10px;
}

.alertProfileModifier{
	font-size: 14px;
	line-height: 22px;
}

.remarqueProfileEdit{
	margin-top: 15px;
}

.divFormEdit{
	margin-bottom: 15px !important;
}

.imgProfileEdit{
	margin-top: 50px;
}

.nameProfileEdit{
	margin-bottom: 50px;
	font-size: 22px;
	font-weight: 600;
	line-height: 30px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width:400px) {
	.ulFooter{
		flex-wrap: wrap;
	}
}

@media (max-width:768px) {
	.secondButton{
		margin-top: 15px;
	}


	.imgHeart{
		text-align:center;
	}

	.thumbnailHome{
		margin: 0 auto 10px auto;
	}
}

@media (max-width:950px) {
	.flexbody, .flexbodyWhite{
		flex-direction: column;
		align-items: right;
		max-width: 100%;
		margin: auto;
	}
	.bodyLeft, .bodyLeftWhite{
		max-width: 600px;
		min-width: 100%;
		margin: 0 auto;
	}
	.addArticle{
		position: relative;
	}
}

