{# src/WKT/UserBundle/Resources/views/Profile/layout.html.twig #}

{# On étend notre layout #}
{% extends 'WKTCoreBundle::layout.html.twig' %}
{% block body %}
	<div class="flexbody">
		{% block fos_user_content %}  
		{% endblock %}
	</div>
{% endblock %}
