<div class="row">
    <section class="standardSection">
        <div class="col-xs-12">
            <hr>
            <h2><img class="imgLink" src="{{ asset('images/icones/contact.svg') }}"> Donnez-nous votre avis</h2> 
        </div>
        <div class="col-xs-12 ">
             <p>Créer un profil vous donne accès à énormément d’avantages. Vous pourriez par exemple savoir quels sont les cours que vous avez suivi ou cummuler des points de contributions pour vos apports.</p>
        </div>
        <p class="text-center"><a class="btn btn-default buttonHome buttonHomeContact" href="{{path('wkt_core_contact_send_email')}}">Faire un retour</a></p> 
    </section>
</div>
