{# src/WKT/CoreBundle/Resources/views/Core/layout.html.twig #}
{% extends 'WKTCoreBundle::layout.html.twig' %}
{% block body %}
	<div class="flexbody">
	    <aside class="bodyLeft">
			{% block bodyLeft %}{% endblock %}
	    </aside>
		<div class="bodyRight">
			{% block bodyRight %}{% endblock %}
		</div>
	</div>
{% endblock %}
