{# src/WKT/CoreBundle/Resources/views/Core/home.html.twig #}
{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block body %}
    <div class="row">
        <section class="standardSection">
            <div class="blocIntroProject">
                <div class="project">
                    <img class="imgIntroStatic img-responsive" src="{{asset('images/icones/w.svg')}}" alt="Wikitech">
                    <h1>Notre Projet</h1>
                </div>
                <h3 class="text-center">Notre but est de rendre l’informatique accessible à tous gratuitement. Nous pensons cela réalisable en partageant simplement nos connaissances.</h3>
            </div>
        </section>
    </div> 
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2>Le numérique pour tous</h2> 
                <p>Il y a toujours à apprendre des connaissances des autres. Par ce simple moyen, notre but est d’aider chacun à progresser : depuis celui pour qui l’informatique est un mystère total et qui aimerait devenir autonome, jusqu’aux plus accomplis, capables de développer encore davantage leurs talents.</p>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2>Le numérique par tous</h2> 
                <p>Que ce soit sur des blogs, des forums ou YouTube par exemple, de nombreuses personnes sont heureuses de partager librement leurs connaissances. Afin de faciliter leur travail et de le rendre plus accessible, nous mettons à leur disposition un outil où chacun peut enrichir le travail des autres.</p>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2>Des contributions vérifiées</h2> 
                <p>Des utilisateurs de nos formations aux contributeurs, chacun se sent concerné par la qualité du contenu. Les apprenants doivent avoir confiance en ce qu’ils lisent et le travail des contributeurs doit être respecté. Pour ces raisons, nous tenons à vérifier manuellement la validité de chaque contribution avant de les publier.</p>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="standardSection">
            <div class="col-xs-12">
                <hr>
                <h2>Soyez reconnus pour vos contributions</h2> 
                <p>Chacun contributeur mérite la reconnaissance des autres utilisateurs. Pour assurer cela, nous avons créé les points de contribution. À chaque contribution validées, vous en gagnerez. Accumulez-en suffisamment, et vous figurerez même dans les top contributeurs d’une formation. </p>
            </div>
        </section>
    </div>
    {% include('WKTCoreBundle:Core:giveAdvice.html.twig') %}
{% endblock %}
