<div class="row" id="addArticleSummary">
  {% if summary is empty %}
      <small><h4 class="text-center"><em>Pas encore d'article</em></h4></small>   
    {% else %}
      <div id="articleOrderInPart" class="container-fluid">
        {% for part in summary %}
           {{ include("WKTPlatformBundle:ArticleModified:validationSummaryPart.html.twig") }}
        {% endfor %}
      </div>
    {% endif %}
</div>
