<div class="editSummary" id="addArticleSummary">
  {% if summary is empty %}
      <small><h4 class="text-center"><em>Pas encore d'article</em></h4></small> 
  {% else %}
    <div id="articleOrderInPart">
      {% for part in summary %}
          {% if part.Part.entity.isEnabled %}
            <h2>{{ part.Part.entity.title }}</h2>
            {% include 'WKTPlatformBundle:Summary:editSummaryArticle.html.twig' %}
          {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
