{# src/WKT/PlatformBundle/Resources/views/Training/add.html.twig #}

{% extends 'WKTPlatformBundle:Training:layoutAdmin.html.twig' %}
{% block textFormulaire %}
    Création d'une nouvelle formation
{% endblock %}
{% block miniature %}
    <div class="col-xs-12">
    	<div class="col-sm-6">
    		<div class="form-group">
    		  {{ form_label(form.image, "Choisissez votre miniature") }}
    		  {{ form_errors(form.image) }}
    		  {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
    		  <p class="help-block"><small><em>Limite 20 Mo</em></small></p>
    		  <p class="help-block"><small><em>Formats autorisés : PNG/JPEG/JPG/GIF</em></small></p>
    		</div>
    	</div>
    </div>
{% endblock %}
