{# src/WKT/PlatformBundle/Resources/views/Training/articlePerPart.html.twig #}
{% set edit = '' %}
{% set finish = '' %}
<li class="liArticle" ><a href=" {{ path('wkt_platform_article_view', {'slugTraining': part.Part.entity.training.slug, 'slugArticle': article.entityArticle.slug})}}">
	{% include 'WKTPlatformBundle:Training:articlePerPartLogic.html.twig' %}
    {{ article.entityArticle.title }}
    </a>
</li>
