{% extends '::layout.html.twig' %}
{% block body %}
    <h1>Voici la liste des formations</h1>
    <hr>
    <ul>
    	<li>Word 2016</li>
    	<li>Excel 2016</li>
    	<li>Copiez-Collez</li>
    </ul>
{% endblock %}
