{# src/WKT/PlatformBundle/Resources/views/Training/summary.html.twig #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}
<div class="row">
	{% if summary is empty %}
		<h2>Aucun article n'est enregistré sur cette formation</h2>
	{% else %}

	    <ol>
	    	{% for part in summary %}
	    		{% if part.Part.entity.isEnabled %}
					<li role="presentation">{{ part.Part.entity.title }}</li>
					{% if part.Article is defined %}
						{% for article in part.Article %}
						    <ul class="nav nav-pills nav-stacked">
						    	<li {% if request.attributes.get("_route") == 'wkt_platform_article_view' and  request.attributes.get('_route_params')['id'] == article.entityArticle.id %} class="active" {% endif %} role="presentation"><a href=" {{ path('wkt_platform_article_view', { 'id': article.entityArticle.id , 'slugTraining': part.Part.entity.training.slug, 'slugArticle': article.entityArticle.slug})}}">
						    	{% if app.user %}
							    	{% if app.user.userArticlesRead is empty %}
									{% else %}
									   {% for articleRead in app.user.userArticlesRead %}
									    	{% if articleRead.article == article.entityArticle %}
									    		{% if articleRead.updated %}
									    			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
									    		{% else %}
									    			<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
									    		{% endif %}
									        {% endif %}
									   {% endfor %}
							    	{% endif %}
						    	{% endif %}
						    	{{ article.entityArticle.title }}</a></li>
						    </ul>
						{% endfor %}
					{% endif %}
	    		{% endif %}
	    	{% endfor %}
	    </ol>
	{% endif %}
</div>

