{# src/WKT/PlatformBundle/Resources/views/Training/summary.html.twig #}

<div class="col-xs-12 summary">
	{% if summary is empty %}
	<p class="lead text-center">Aucun article n'est enregistré sur cette formation</p>
	{% else %}
	<ul>
		{% for part in summary %}
		    {% if part.Part.entity.isEnabled %}
		    	{% if app.user %}
		    		{% set loopArticle = part.Article|length %}
		    		{% set loopArticleRead = 0 %}
					{% include 'WKTPlatformBundle:Training:summaryLogicArticle.html.twig'%}
		    		
		    	{% endif %}
		    {% endif %}
		    <li class="summaryList">
		    	{% include 'WKTPlatformBundle:Training:summaryList.html.twig'%}
		    </li>
		{% endfor %}
	</ul>
	{% endif %}
</div>


	
