{# src/WKT/PlatformBundle/Resources/views/Training/summary.html.twig #}

<div class="col-xs-12 summary">
	{% if summary is empty %}
	<p class="lead text-center">Aucun article n'est enregistré sur cette formation</p>
	{% else %}
	<ul>
		{% include 'WKTPlatformBundle:Training:summaryPart.html.twig'%}
	</ul>
	{% endif %}
</div>


	
