{% extends '::layout.html.twig' %}
{% block body %}
    <div class="col-sm-3">
        <div class="row">
            {% block addArticle %}{% endblock %}
        </div>
        <br>
        <br>
        <div class="row">
            {% block summaryInTraining %}
                
            {% endblock %}
        </div>
    </div>
    <div class="col-sm-9">
        {% block articleInTraining %}{% endblock %}    
    </div>
{% endblock %}
