<a class="linkValidateArticle" href="{{ path('wkt_user_cancel_article_is_read', {'id': article.id})}}"><img class="imgSummary" src="{{ asset('images/icones/finish.svg') }}">Je n’ai pas encore compris ce cours</a>
{% if articleRead.updated %}
    <a class="linkValidateArticle" href="{{ path('wkt_user_article_is_read', {'id': article.id})}}"><img class="imgSummary" src="{{ asset('images/icones/begin.svg') }}">J'ai compris ce cours</a>
{% endif %}
