{# src/WKT/PlatformBundle/Resources/views/Article/layout.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyLeft %}
    {% block addPart %}{% endblock %}
    <div class="linkSummary">
         <a href="{{ path('wkt_platform_view', {'id': article.part.training.id, 'slugTraining': article.part.training.slug}) }}">RETOURNER AU SOMMAIRE</a>
         <hr>
    </div>
    {% block summaryInTraining %}{% endblock %}
    {% include('WKTPlatformBundle:ArticleModified:buttonAdd.html.twig') %}
{% endblock %}
{% block bodyRight %}
    {% block articleInTraining %}{% endblock %} 
{% endblock %}

