{# src/WKT/PlatformBundle/Resources/views/Article/layout.html.twig #}

{% extends 'WKTCoreBundle:Core:layout.html.twig' %}
{% block bodyLeft %}
    <div class="row">
        {% block addArticle %}{% endblock %}
    </div>
    <div class="row">
        {% block addPart %}{% endblock %}
    </div>
    <br>
    <br>
    <div class="row">
        {% block summaryInTraining %}
            
        {% endblock %}
    </div>
{% endblock %}
{% block bodyRight %}
    {% block articleInTraining %}{% endblock %} 
{% endblock %}

