{# src/WKT/UserBundle/Resources/views/User/user.html.twig #}

{# On étend notre layout #}
{% extends "WKTCoreBundle:Core:layout.html.twig" %}

{% block body %}
<div class="row	table-responsive">
	<table id="datatable" class="table table-hover table-condensed">
	    <thead>
			<tr>
				<th >Pseudo</th>
				<th >Prénom</th>
				<th >Nom</th>
				<th >Email</th>
				<th >User activé</th>
				<th >Points de contribution</th>
				<th >Indice de confiance</th>
				<th >Rôle</th>
				<th >Actions</th>
			</tr>
	    </thead>
	    <tbody>
	    	{% for user in users %}
	    		{% if user != app.user %}
		    	    {% include 'WKTUserBundle:User:userTbody.html.twig' %}
	    		{% endif %}
	    	{% endfor %}
	    </tbody>
	    <tfoot>
			<tr>
				<td>Pseudo</td>
				<td>Prénom</td>
				<td>Nom</td>
				<td>Utilisateur activé</td>
				<td>Email</td>
				<td>Points de contribution</td>
				<td>Indice de confiance</td>
				<td>Rôle</td>
			</tr>
	    </tfoot>
	</table>
</div>
{% endblock %}
{% block javascripts %}
  {{parent()}}
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>
  {% javascripts 'bundles/wktplatform/datatable.js'%} 
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
