{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block h2Profile %}
    <h2 class=""><img class="imgLink" src="{{ asset('images/icones/email.svg') }}"> Verification de votre Email</h2>
{% endblock %}
{% block fos_user_content %}
	    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
	    <hr>
	    <a class="btn btn-primary col-xs-4 col-xs-offset-4" href="{{ path('wkt_core_home') }}">Page d'accueil</a> 
{% endblock fos_user_content %}
